html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-flow: column;
  margin: 0px;
}

#header {
  height: 150px;
  background: #F5972A;
  display: flex;
}

#core {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

#message-zone {
  flex-shrink: 0;
  min-height: 100%;
  max-width: 65%;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  border-right: 1px solid #AAAAAA;
}

.header {
  background: #F9DF72;
  padding: 10px;
  height: 50px;
  border-bottom: 1px solid #AAAAAA;
}

#message-zone .header {
  line-height: 50px;
  font-size: 25px;
}

.spacer {
  flex-grow: 1;
}

#text-log {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  max-width: 100%;
  overflow-y: scroll;
}


.rline {
  display: flex;
  flex-shrink: 0;
  flex-flow: row-reverse nowrap;
}

.lline {
  display: flex;
  flex-shrink: 0;
  flex-flow: row nowrap;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.column-message {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  max-width: 100%;
}

.column-message .rline, .column-message .lline {
  position: relative;
}

.name-line {
  color: #7A797A !important;
  margin: 5px 15px;
  margin-bottom: 0px;
  font-size: 12px;
}

.sender-bubble {
  background: #D0D0D0;
  margin: 1px 5px;
  padding: 10px;
  border-radius: 10px;
  overflow-wrap: break-word;
  max-width: 70%;
  position: relative;
}

.user-bubble {
  background: #F5972A;
  margin: 1px 5px;
  padding: 10px;
  border-radius: 10px;
  overflow-wrap: break-word;
  max-width: 70%;
  position: relative
}

.admin-bubble {
  overflow-wrap: break-word;
  width: 100%;
  text-align: center;
  margin: 3px;
}

.time-line {
  font-style: italic;
  font-weight: bold;
  margin: 5px 15px;
  margin-top: 0px;
  font-size: 12px;
}

#message-bar {
  display: flex;
  flex-shrink: 0;
}

#message-writer {
  padding: 10px;
  text-align: right;
  flex-grow: 1;
  font-size: 17px;
}

#message-bar button {
  font-size: 20px;
  width: 100px;
  cursor: pointer
}

#message-bar button:hover {
  background: #cccccc;
}

#side-menu-right {
  width: 35%;
  min-width: 300px;
  display: flex;
  flex-flow: column;
}

#side-menu-right .header {
  font-size: 25px;
  font-weight: bold;
}

#side-menu-right .header .lline:first-child {
  font-size: 18px;
}

#side-menu-right .header .lline i {
  margin: 3px;
  cursor: pointer;
}

#channel-list {
  margin: auto;
  margin-top: 5%;
  width: 90%;
  justify-content: center;
  padding: 0px 10px;
}

.channel-container {
  min-width: 200px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.channel-container i {
  margin:0px 20px;
  cursor: pointer;
}

.channel-container i:hover {
  font-weight: bolder;
}

.channel-container:nth-child(odd) {
  background: #DDDDDD;
}

.channel-container:nth-child(even) {
  background: #999999;
}

#footer {
  height: 30px;
  background: #F5972A;
}
